* {
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  margin-top: 8vh;
}

/** Contact List */

.contact-list {
  width: 50%;
  margin: 20px;
}

/** Search Bar */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  padding: 10px;
}

.search-input {
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 9999px;
  outline: none;
  margin-bottom: 2vh;
}

.search-list {
  padding: 10px;
  width: 100%;
}

.search-items {
  list-style-type: none;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(33, 14, 14);
  background-color: rgba(33, 14, 14, 0.422);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

/** Form */

.form {
  text-align: center;
  margin-top: 3vh;
}

.form-input {
  padding: 10px;
  text-align: center;
  border-radius: 9999px;
  width: 50%;
  margin: auto;
  outline: none;
}

.form-button {
  padding: 10px;
  border-radius: 9999px;
  margin: 20px 0;
  display: flex;
  justify-self: flex-end;
}