* {
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

/** Search Bar */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-input {
  text-align: center;
}

.search-items {
  list-style-type: none;
  padding: 0 10px;
}